

# Dependências (sempre ignorar)
node_modules/

# Pastas de Build/Produção (geradas pelo Vite)
dist/

# Configurações de deploy (Netlify)
.netlify/

# Logs e arquivos temporários
*.log
.DS_Store
thumbs.db

# Configurações do Claude (opcional)
.claude/

# Arquivo pesado que vi na sua imagem
app_padrao

.env*